*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-align: center;
    list-style: none;
}

body{
    min-height: 100vh;
    background:#C8F4A4;
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 20px 0px 20px;
    background: linear-gradient(to right, #B4F18A, #82EF36);
    z-index:99;
    box-shadow: 0 0 5px 2px #C4E5A9;
}
header .burguer:before{
    font-size:50px;
}

header .head-principal{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header .head-principal img,.nav-foot li a img{
    width:75px;
}

body .container-login-register{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.wrapper .form-login, .wrapper .form-register{
    width:100%;
}

.wrapper{
    position:relative;
    background: white;
    width:400px;
    height:342.6px;
    border:2px solid rgba(255, 255, 255, .5);
    margin-top:20px;
    border-radius:20px;
    box-shadow: 0 0 5px 5px #C4E5A9;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition:height .1s ease;
}

.wrapper .form-login{
    transition: transform .18s ease;
    transform:translateX(0);
}

.wrapper.active .form-login{
    transition:none;
    transform:translateX(-400px);
}

.wrapper .form-register{
    position:absolute;
    transition:none;
    transform:translateX(400px);
}

.wrapper.active .form-register{
    transition: transform .18s ease;
    transform:translateX(0);
}

.wrapper.active.valre{
    height:510.6px;
}

.wrapper.active{
    height:390.6px;
}

div .login-logo{
    position:relative;
    height:150px;
    z-index:1;
}

div .login-logo img{
    width:200px;
}

div .login-logo h2 {
    position: absolute;
    right:130px;
    bottom:-3px;
}

div .form-login #login-form, div .form-register #register-form{
    position:relative;
    z-index:2;
}

.form-boton, .Producto button, .productoSolo .fa-sharp,.vaciar,.comprar,.mostrarFormMod,#submit_actualizar,.pregunta,.botonPregunta button{
    font-size: .9em;
    background:#C8F4A4;
    color:white;
    width:80%;
    outline: none;
    border-radius:6px;
    cursor:pointer;
    text-align: center;
    font-weight: 500;
    margin:25px 0px 10px;
}

.login-no-cuenta a{
    text-decoration: none;
    font-weight: 600;
    color:#C4E5A9;
}

.login-no-cuenta a:hover{
    text-decoration:underline;
}

.logoTitulo-Movil:hover, .burguer:hover{
    cursor:pointer;
}

label{
    width:150px;
    text-align: right;
}

.error{
    width:auto;
    color:red;
}

input{
    display:inline-block;
    width:200px;
    border:none;
    background: transparent;
    margin-left:15px;
}

input::placeholder{
    text-align: left;
}

.idiomas{
    display:flex;
    justify-content: end;
}

.idiomas a{
    text-decoration: none;
    font-weight: 600;
    color:black;
}

.idiomas a:hover {
    cursor:pointer;
}

input[type='radio'],input[type='checkbox'],label[for='remember2'],label[for='normal'],label[for='farmacia']{
    width:auto;
}

.inicio{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#carouselSlider{
    margin-top:100px;
    width:90%;
}

.articulo{
    margin-top:25px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px solid rgba(0,0,0, .5);
    box-shadow: 0 0 5px 5px #C4E5A9;
    width:85%;
    border-radius:15px;
}

.articulo p{
    width:90%;
    text-align: justify;
}

footer{
    margin-top:20px;
    background: linear-gradient(to left, #B4F18A, #82EF36);
    height: 150px;
}

.nav-foot{
    display:flex;
    justify-content: space-around;
    padding:0;
    margin:0;
    align-items: center;
}

.articulo img{
    margin-top:10px;
    border-radius:15px;
}

.articulo img:hover{
    transform:scale(1.02);
    cursor:pointer;
    box-shadow: 0 0 5px 5px #C4E5A9;
}

.nav-icon{
    margin-top:10px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding:0;
    margin:0;
}

.nav-icon i{
    font-size: 1.2em;
}

.politica{
    margin-top:10px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

footer a,.tiendaProducto div.volver a{
    text-decoration: none;
    color:black;
}

footer a:hover{
    text-decoration: underline;
}

.medicamento,.foro, .tienda, .tiendaProducto,.carrito,.perfil{
    margin-top:120px;
    min-height: calc(100vh - 120px);
}

div.resultados-busqueda{
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.resultados-busqueda div{
    border: 2px solid rgba(0,0,0, .5);
    width:60%;
    margin-top:25px;
    border-radius:15px;
    box-shadow: 0 0 5px 5px #C4E5A9;
    background: white;
}

.resultados-busqueda div picture img{
    width:50%;
    margin-top:10px;
    border-radius:15px;
}

#contenedor-tienda,.tiendaProducto,#contenedor-carrito,.perfil,#contenedorModificar,.foro{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Producto,#contenedor-producto,#contenedor-carrito>div,.articulo,#contenedorUsuario,#update-form,.formPregunta{
    margin-bottom:15px;
    border: 2px solid rgba(0,0,0, .5);
    width:60%;
    border-radius:15px;
    box-shadow: 0 0 5px 5px #C4E5A9;
    background: white;
    padding:20px;
    overflow: hidden;
}

.formPregunta{
    position:relative;
}

.Producto>div{
    width:100%;
}

.Producto p, #contenedor-carrito p{
    color:rgba(0,0,0,.6);
    font-weight: 600;
}

.Producto div:nth-child(3) p, #contenedor-carrito div:nth-child(4) p, #contenedor-carrito div:nth-child(6) p{
    color:black;
    font-weight: 800;
}

#contenedor-carrito div:nth-child(6) p{
    margin-top:10px;
    color:#28B463;
}

.Producto img, #contenedorUsuario>div img{
    border-radius:15px;
}

.tiendaProducto .volver{
    display:flex;
    justify-content:start;
    align-items: center;
}

.productoSolo .fa-sharp{
    color:black;
}

.comprar{
    background: #82EF36;
}


.productoSolo .fasharp:hover,.Producto>button:hover, .vaciar:hover,.comprar:hover{
    transform:scale(1.02);
    cursor:pointer;
    box-shadow: 0 0 2px 2px #C4E5A9;
}

#contenedor-producto,#contenedor-carrito>div,.articulo,#contenedorUsuario,#update-form,#contenedorModificar,.formPregunta,.botonPregunta{
    width:90%;
}

#contenedor-carrito>div span{
    color:red;
    padding-left:15px;
    border-radius:50%;
}

.noDireccion,.noFondos,.loSiento,.registrado,.rojo{
    color:red;
}
.verde{
    color:greenyellow;
}

.vaciar{
    background:rgba(255,0,0,.5);
}

.vaciar:hover{
    box-shadow: 0 0 2px 2px rgba(255,0,0,.5)
}

.perfil>table, .perfil>h2{
    margin-top:15px;
}

#contenedorUsuario>div p{
    font-size:1.2em;
}

#contenedorUsuario>div p span{
    font-weight: 600;
    font-size:.8em;
}

.mostrarFormMod,.botonPregunta button{
    background:rgba(212, 172, 13,.7) ;
}

#update-form{
    width:100%;
    position:relative;
}
#update-form label{
    width:100px;
}

.cerral{
    position:absolute;
    top:0;
    right:0;
    width:25px;
    height: 25px;
    background: rgba(212, 172, 13,.7);
    font-size:1.3em;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 15px;
}

.cerral:hover{
    cursor:pointer;
}

#contendorPedidos th:nth-child(2),#contendorPedidos th:nth-child(3), #contendorPedidos td:nth-child(3),#contendorPedidos td:nth-child(2){
    display:none;
}

#reservas th:nth-child(2),#reservas td:nth-child(2){
    display:none;
}




